@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  /* spacing semantics */
  --spacing-xxs: var(--space-0_5);
  --spacing-xs: var(--space-1);
  --spacing-s: var(--space-2);
  --spacing-m: var(--space-3);
  --spacing-l: var(--space-4);
  --spacing-xl: var(--space-5);
  --spacing-xxl: var(--space-6);
  --spacing-xxxl: var(--space-8);
  /* radius semantics */
  --radius-s: var(--radius-2); /* Tooltip */
  --radius-m: var(--radius-4); /* Button, Input */
  --radius-l: var(--radius-6); /* Main content */
  --radius-pill: var(--radius-full); /* Chip, FAB */
  /* font family */
  --font-family-base: var(--font-noto-sans-jp);
  /* font size semantics */
  --font-body-l: var(--font-size-l);
  --font-body-m: var(--font-size-m);
  --font-body-s: var(--font-size-s);
  --font-label-l: var(--font-size-m);
  --font-label-m: var(--font-size-s);
  --font-label-s: var(--font-size-xs);
  --font-heading-1: var(--font-size-xxxl);
  --font-heading-2: var(--font-size-xxl);
  --font-heading-3: var(--font-size-xl);
  --font-heading-4: var(--font-size-l);
  /* line-height semantics */
  --line-none: var(--line-height-none);
  --line-tight: var(--line-height-tight);
  --line-normal: var(--line-height-normal);
  /* font weight semantics */
  --weight-normal: var(--font-weight-normal);
  --weight-bold: var(--font-weight-bold);
  /* shadow semantics */
  --shadow-sm: 0 2px 6px 1 rgba(0, 0, 0, 0.2);
  --shadow-md: 0 2px 6px 1 rgba(0, 0, 0, 0.2);
}

:root {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.541 0.281 293.009);
  --primary-foreground: oklch(0.969 0.016 293.756);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.702 0.183 293.541);
  --chart-1: oklch(0.811 0.111 293.571);
  --chart-2: oklch(0.606 0.25 292.717);
  --chart-3: oklch(0.541 0.281 293.009);
  --chart-4: oklch(0.491 0.27 292.581);
  --chart-5: oklch(0.432 0.232 292.759);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.541 0.281 293.009);
  --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.702 0.183 293.541);

  /* spacing primitives (8px base) */
  --space-0_5: 4px;
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 40px;
  --space-6: 48px;
  --space-8: 64px;
  /* radius primitives */
  --radius-2: 2px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-full: 9999px;
  /* font size primitives */
  --font-size-xxs: 0.625rem; /* 10px */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-s: 0.875rem; /* 14px */
  --font-size-m: 1rem; /* 16px */
  --font-size-l: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-xxl: 1.5rem; /* 24px */
  --font-size-xxxl: 1.75rem; /* 28px */

  /* line-height primitives */
  --line-height-none: 1;
  --line-height-tight: 1.4;
  --line-height-normal: 1.5;

  /* font weight primitives */
  --font-weight-normal: 400;
  --font-weight-bold: 600;
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.606 0.25 292.717);
  --primary-foreground: oklch(0.969 0.016 293.756);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.38 0.189 293.745);
  --chart-1: oklch(0.811 0.111 293.571);
  --chart-2: oklch(0.606 0.25 292.717);
  --chart-3: oklch(0.541 0.281 293.009);
  --chart-4: oklch(0.491 0.27 292.581);
  --chart-5: oklch(0.432 0.232 292.759);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.606 0.25 292.717);
  --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.38 0.189 293.745);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-family-base);
    font-size: var(--font-body-m);
    line-height: var(--line-normal);
    font-weight: var(--weight-normal);
  }
}

@layer utilities {
  /* -------- Heading -------- */
  .heading-1 {
    font-size: var(--font-heading-1);
    line-height: var(--line-tight);
    font-weight: var(--weight-bold);
  }

  .heading-2 {
    font-size: var(--font-heading-2);
    line-height: var(--line-tight);
    font-weight: var(--weight-bold);
  }

  .heading-3 {
    font-size: var(--font-heading-3);
    line-height: var(--line-tight);
    font-weight: var(--weight-bold);
  }

  .heading-4 {
    font-size: var(--font-heading-4);
    line-height: var(--line-tight);
    font-weight: var(--weight-bold);
  }

  /* -------- Body -------- */
  .body-l {
    font-size: var(--font-body-l);
    line-height: var(--line-normal);
    font-weight: var(--weight-normal);
  }

  .body-m {
    font-size: var(--font-body-m);
    line-height: var(--line-normal);
    font-weight: var(--weight-normal);
  }

  .body-s {
    font-size: var(--font-body-s);
    line-height: var(--line-normal);
    font-weight: var(--weight-normal);
  }

  /* -------- Label -------- */
  .label-l {
    font-size: var(--font-label-l);
    line-height: var(--line-tight);
    font-weight: var(--weight-normal);
  }

  .label-m {
    font-size: var(--font-label-m);
    line-height: var(--line-tight);
    font-weight: var(--weight-normal);
  }

  .label-s {
    font-size: var(--font-label-s);
    line-height: var(--line-tight);
    font-weight: var(--weight-normal);
  }
}
